debug/
mysql/
allergens-dietary-ictoria/assets/icons/custom
.vscode/
wordpress/
phpunit/tests/*.bak
phpunit/tests/*.log
phpunit/tests/testdox.*
phpunit/tests/*.log
phpunit/tests/*.cache
*.code-workspace
vendor/
composer.*
languages/*.mo
cache/