@import "../assets/css/variables.css";

.iam-allergens-dietary {
	max-width: 945px;
}

.iam-allergens-dietary-add-allergen,
.iam-allergens-dietary-manage-allergens {
	/* display: none !important; */
}

.iam-allergens-dietary-add-allergen {
	margin-bottom: 1rem;

	form {
		fieldset {
			display: flex;
			flex-direction: column;
			width: 50%;

			label {
				min-width: 30%;
			}

			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 0.5rem;

				input[type="submit"],
				input[type="file"],
				input[type="text"] {
					margin-left: auto;
					flex-grow: 1;
				}
			}
		}
	}
}

.iam-allergens-dietary-manage-allergens {
	.iam-allergens-dietary-manage-allergens-all-allergens {
		max-width: 82%;
		display: flex;
		flex-wrap: wrap;
		gap: 0.65rem;
		padding: 1rem;
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0.08);
		border: solid 1px rgba(0, 0, 0, 0.08);

		--iam-allergen-icon-size: 64px;
		.iam-allergens-dietary-manage-allergens-all-allergens-allergen {
			width: var(--iam-allergen-icon-size);
			display: flex;
			flex-direction: column;
			align-items: center;
			/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
			border-radius: 12px;
			overflow: hidden;

			img {
				width: var(--iam-allergen-icon-size);
				height: var(--iam-allergen-icon-size);
				background: #11164d;
				color: white;
			}
			span {
				padding: 0.25rem 0;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.iam-allergens-dietary-allergen-selected {
			/* background-color: rgb(102, 202, 82); */
			/* color: white; */
			/* font-weight: 600; */
			opacity: 0.6;
		}
	}
}
