@import "./variables.css";

@media only screen and (max-width: 1280px) {
	.iam-dashboard {
		width: 800px;
	}
}
@media only screen and (max-width: 1024px) {
	.iam-dashboard {
		width: 640px;
	}
}
@media only screen and (max-width: 720px) {
	.iam-dashboard {
		width: 100%;
	}
}

.iam-dashboard {
	/* Set parent div as relative
   * to enable absolute positioning
   * of child elements.
   */
	position: relative;

	/* Set display to flex
   * to enable flexbox layout
   * and flex-direction to column
   * to enable vertical layout.
   */
	/* display: flex; */
	flex-direction: column;

	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;

	max-width: 1280px;

	margin: 0 auto;

	h1 {
		text-align: center;
	}

	.iam-page-ictoria-dashboard-section-dashboard {
		/* Color variables are set in variables.css.
     */
		background-color: var(--iam-primary-accent-color);
		color: var(--iam-primary-accent-font-color);

		/* Set margin and padding
     * to 20px/-20px to enable
     * this div to be wider but
     * still keep its original
     * width.
     *
     * Variable for offset is set
     * calc() multiplied by -1
     * to output negative (-20px)
     */
		--iam-section-dashboard-offset: 20px;
		padding: 0.6rem var(--iam-section-dashboard-offset);
		margin: 0 calc(var(--iam-section-dashboard-offset) * -1);

		height: 12rem;
		border-radius: 12px;
	}
}
