@import "./poppins-font.css";

.add_allergens_form {
	fieldset {
		display: flex;
		flex-direction: column;
		max-width: 50%;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0.5rem;

			input[type="submit"],
			input[type="file"],
			input[type="text"] {
				margin-left: auto;
			}
		}
	}
}

.iam-page-allergens-dietary-section-all-allergens-content {
	display: flex;
	flex-wrap: wrap;

	.iam-page-allergens-dietary-section-all-allergens-content-allergen {
		width: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;

		img {
			background: #11164d;
			border-radius: 8px;
			color: white;
		}
	}
}

.iam-page-allergens-dietary-section-add-allergen {
	max-width: 945px;
	/* display: none !important; */
}
