@import "./poppins-font.css";

.add_allergens_form {
	fieldset {
		display: flex;
		flex-direction: column;
		max-width: 50%;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0.5rem;

			input[type="submit"],
			input[type="file"],
			input[type="text"] {
				margin-left: auto;
			}
		}
	}
}
