@import "./poppins-font.css";

.iam-page-allergens-dietary-section-add-allergen,
.iam-page-allergens-dietary-section-all-allergens {
	max-width: 945px;
	/* display: none !important; */
}

.iam-page-allergens-dietary-section-add-allergen {
	margin-bottom: 1rem;

	form {
		fieldset {
			display: flex;
			flex-direction: column;
			width: 50%;

			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 0.5rem;

				input[type="submit"],
				input[type="file"],
				input[type="text"] {
					margin-left: auto;
				}
			}
		}
	}
}

.iam-page-allergens-dietary-section-all-allergens {
	div {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		min-width: 50px;

		.iam-page-allergens-dietary-section-all-allergens-allergen {
			width: 10%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 1rem;

			img {
				background: #11164d;
				border-radius: 8px;
				color: white;
			}
		}
	}
}
